<div class="row"> </div>

<div class="row">
    <!--dividing the coloumn into three coloumns-->
    <div class="col-lg-4 col-md-4 text-center  z-depth-5 ">

    <span class="pt-10 bgblue">
      <div  {{action "toggleModal" "anchor"}} class="largeicon"> {{material-design-icon name='account-circle' addClass='blue'}} </div>
      MANUFACTURERS
    </span>
  
    </div>

    <div class="col-lg-4 col-md-4 text-center middle">
         <span class="pt-10 bgblue">
          <div  {{action "toggleModal" "vendor"}} class="largeicon">  {{material-design-icon name='account-box'}} </div>
          DISTRIBUTORS
         </span>
    </div>

    <div class="col-lg-4 col-md-4 text-center pt-0">
         <span class="pt-10 bgblue">
            <div  {{action "toggleModal" "regulator"}} class="largeicon">  {{material-design-icon name='account-balance'}} </div>
         BANK
        </span>
    </div>

</div>


{{partial "loginmodal"}}

  