<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percentageComplete}}%">
    {{percentageComplete}}%
  </div>
</div>




{{partial 'steplist'}}



<!--modal-->

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
   <div class="loginmodal-container">
  <p>
      Program successfully created for :<br>
      <span class="bg-info"> {{selectedAnchor}}  and {{selectedVendor}} </span><br>
      Program Id : 3123123
  </p>




 <input type="button" class="btn btn-primary pull-right" value="OK" {{action 'toggleModal'}}>
   </div>

  {{/modal-dialog}}
{{/if}}



