
 <div class="layout layout-align-center-center slider-container">
        <div flex=10 class="layout flex-10 layout-align-center-center">
          <span>Progress</span>
        </div>
        {{paper-slider class="flex" discrete=true value=currentStep step=1 min=1 max=9 onChange=(action (mut rating1))}}
      </div>

{{#paper-stepper vertical=false alternative=true  currentStep=currentStep onStepChange=(action (mut currentStep))
  onStepperCompleted=(action "saveModel") as |stepper|}}


<!-- 1. select anchor -->
  {{#stepper.step label="choose Anchor" as |step|}}
    {{#step.body}}
      {{partial 'step1'}}
    {{/step.body}}
      {{#step.actions as |nextStep previousStep|}}
        {{!--  {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
            Continue
          {{/paper-button}} 
          {{#paper-button onClick=(action 'previousStep')}}
             Back
          {{/paper-button}}--}}
    {{/step.actions}}
  {{/stepper.step}}

  <!--2. select vendor -->
  {{#stepper.step label="choose Vendor" as |step|}}
    {{#step.body}}
       {{partial 'step2'}}
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
     {{!-- {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}} --}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  

  <!--3. Initiate program -->
  {{#stepper.step label="Initiate Program" as |step|}}
    {{#step.body}}
    {{partial 'step3'}}
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{!-- {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}} --}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
      {{#paper-button primary=true raised=true onClick=(action 'gotohome')}}
        Home
      {{/paper-button}} 
    {{/step.actions}}
  {{/stepper.step}}
  
{{/paper-stepper}}


<!--

<div class="progress">
   <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percentageComplete}}%">
      {{percentageComplete}}%
   </div>
</div>
Choose the program : 



<input type="button" value="Submit" class ="btn btn-success" {{action 'purchaseorder'}}>


