
{{#if selectedVendor}}
<div class="box">
   <div class="list-group">
      <p class="list-group-item">
         Vendor Name : SupplierA{{!--{{vendorname}}--}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Email : suppliera@abc.com{{!--{{vendoremail}}--}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Phone : 9090909090{{!--{{vendorphone}}--}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor bank : RBL{{!--{{vendorbank}}--}} 
      </p>
      <br>
       <!-- <div class="input-group-addon">
            <span class="glyphicon glyphicon-picture"></span>
        </div>
        <input type="file" multiple="true" onchange={{action "upload"}} accept="doc/pdf" type="file"/>-->
      <span class="file">
         <p class="ist-group-item">  Upload Purchase order : {{file-upload url="/upload" class="btn btn-primary"}}
         </p>
      </span>
   </div>
</div>
{{else}}
{{partial 'step2'}}

{{/if}}