
Close program
{{!--{{partial 'step1'}}--}}
<div class="box">
   <div class="list-group">
      <p class="list-group-item">
         program ID : {{idname}} 
      </p>
      <br>
      <p class="list-group-item">
         Customer Name : ABC Enterprises{{anchor}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Name : XYZ Pvt Ltd {{vendorname}} 
      </p>
      <br>
      <p class="list-group-item">
         Pending Paymnet : NA{{pendingpayment}} 
      </p>
      <br>
      <p class="list-group-item">
         Recieved Paymnet : 5400000.00{{recievedpayment}} 
      </p>
      <br>
      <p class="list-group-item">
         Status : approved{{status}} 
      </p>
      <br>
      <span class="file">
      <button type="button" class="btn btn-primary pull-center" value="Confirm Program initiation" {{action 'closure'}}>
      Confirm Closure
      </button>
      </span>
   </div>
</div>

