   {{!--{{partial 'step1'}}--}}
     

<div class="box">
   <div class="list-group">
      <p class="list-group-item">
         Anchor Name : {{anchorName}}
      </p>
      <br>
      <p class="list-group-item">
         Anchor Email : {{anchorEmail}} 
      </p>
      <br>
      <p class="list-group-item">
         Anchor Phone : {{anchorPhone}} 
      </p>
      <br>
      <p class="list-group-item">
         Anchor bank : {{anchorBank}} 
      </p>
      <br>
      <span class="file">
         <p class="ist-group-item">  Upload Invoice : {{file-upload url="/upload" class="btn btn-primary"}}
         </p>
      </span>
   </div>
</div>
