
{{#if selectedVendor}}
<div class="box">
   <div class="list-group">
      <p class="list-group-item">
         Vendor Name : Hexaware Ltd{{!--{{vendorname}}--}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Email : hex2abc.com{{!--{{vendoremail}}--}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Phone : 9090909090{{!--{{vendorphone}}--}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor bank : World Bank{{!--{{vendorbank}}--}} 
      </p>
      <br>
      <span class="file">
         <p class="ist-group-item">  Upload Purchase order : {{file-upload url="/upload" class="btn btn-primary"}}
         </p>
      </span>
   </div>
</div>
{{else}}
{{partial 'step2'}}

{{/if}}