<!--
<h1> Choose the Vendor for the anchor : <span class="btn btn-success"> {{selectedAnchor}} </span> </h1>
<div class="list-group">
{{#each vendorList as |item|}}
<p {{action 'chooseVendor' item}}>
    <a href="#" class="list-group-item">

     {{item}}  

    </a>
</p>  
{{/each}}
</div>-->
    
{{#if vendorregulator}}
<h1> Choose the Vendor for the anchor :  </h1>
<div class="list-group">

<p class="list-group-item">
    {{!--{{#if regulator}}  --}}
{{multiselect-checkboxes options=vendorList  selection=selectedvendor }}
{{!--{{/if}}--}}
</p> 
 <p>Vendor list:
       <ul>
        {{#each selectedvendor as |vendorList|}}
           <li>{{vendorList}}</li>
          {{/each}}
       </ul>        
</p>

<button type="button" class="btn btn-primary"{{action 'submitselectvendorlist' selectedvendor }}>
      Submit 
      </button>
</div>
{{else}}
<div>
<p>Choose any one of Vendor the for Purchase Order:
       <ul>
        {{#each selectedvendor as |vendorList|}}
          <li> {{radio-button value=vendorList checked=selectedNumber}} {{vendorList}}</li>
        {{/each}}
       </ul>        
</p>



</div>
{{/if}}