


{{#if selectedVendor}}
<div class="box">
   <div class="list-group">
      <p class="list-group-item">
         Vendor Name : {{selectvendor.name}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Email : {{selectedVendor.email}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Phone : {{selectedVendor.phone}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor bank : {{selectedVendor.bank}} 
      </p>
      <br>
      <span class="file">
         <p class="ist-group-item">  Upload Purchase order : {{file-upload url="/upload" class="btn btn-primary"}}
         </p>
      </span>
   </div>
</div>
{{else}}
{{partial 'step2'}}

{{/if}}