
 <div class="layout layout-align-center-center slider-container">
        <div flex=10 class="layout flex-10 layout-align-center-center">
          <span>Progress</span>
        </div>
        {{paper-slider class="flex" discrete=true value=currentStep step=1 min=1 max=9 onChange=(action (mut rating1))}}
      </div>

{{#paper-stepper vertical=false alternative=true  currentStep=currentStep onStepChange=(action (mut currentStep))
  onStepperCompleted=(action "saveModel") as |stepper|}}


<!-- 1. select anchor -->
  {{#stepper.step label="choose Anchor" as |step|}}
    {{#step.body}}
      
    This step is performed by the Regulataor

    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  <!--2. select vendor -->
  {{#stepper.step label="choose Vendor" as |step|}}
    {{#step.body}}
      
    This step is performed by the Regulataor

    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  

  <!--3. Initiate program -->
  {{#stepper.step label="Initiate Program" as |step|}}
    {{#step.body}}
      
    This step is performed by the Regulataor

    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}


<!--4. select program and upload document-->
  {{#stepper.step label="purchase Order" as |step|}}
    {{#step.body}}
      
    {{partial "choosevendor"}}

    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}


 {{!--6. upload invoice--}}
  {{#stepper.step label="Upload Invoice" as |step|}}
    {{#step.body}}
     
            Purchase Order successfully uploaded, Please wait for vendor to upload Invoice
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}


 {{!--7.approve invoice--}}
  {{#stepper.step label="approve Invoice" as |step|}}
    {{#step.body}}
     
            Purchase Order successfully uploaded, Please wait for vendor to upload Invoice
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}


 {{!--8. initiate payment --}}
  {{#stepper.step label="Initiate Payment" as |step|}}
    {{#step.body}}
     
            Purchase Order successfully uploaded, Please wait for vendor to upload Invoice
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}


 {{!--8. initiate payment --}}
  {{#stepper.step label="Approve Payment" as |step|}}
    {{#step.body}}
     
            Purchase Order successfully uploaded, Please wait for vendor to upload Invoice
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

   {{!--8. initiate payment --}}
  {{#stepper.step label="Program closure" as |step|}}
    {{#step.body}}
     
            Purchase Order successfully uploaded, Please wait for vendor to upload Invoice
    {{/step.body}}
    {{#step.actions as |nextStep previousStep|}}
      {{#paper-button primary=true raised=true onClick=(action 'nextStep')}}
        Continue
      {{/paper-button}}
      {{#paper-button onClick=(action 'previousStep')}}
        Back
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}


  





  {{!-- add as many steps as necessary --}}

{{/paper-stepper}}


<!--

<div class="progress">
   <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percentageComplete}}%">
      {{percentageComplete}}%
   </div>
</div>
Choose the program : 



<input type="button" value="Submit" class ="btn btn-success" {{action 'purchaseorder'}}>

-->


<!--

<div class="progress">
   <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percentageComplete}}%">
      {{percentageComplete}}%
   </div>
</div>
Choose the program : 



<input type="button" value="Submit" class ="btn btn-success" {{action 'purchaseorder'}}>

-->

<div class="progress">
   <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percentageComplete}}%">
      {{percentageComplete}}%
   </div>
</div>
Choose the program : 
<div class="list-group">
   {{#each anchorList as |item|}}
   <p {{action 'chooseVendor' item}}>
   <a href="#" class="list-group-item">
   {{item}} 
   </a>
   </p>  
   {{/each}}
</div>
<div class="box">
   <div class="list-group">
      {{#if showDetails}} 
      <p class="list-group-item">
         Vendor Name : {{selectedVendor.name}} 
      </p>
      <br>
      <p class="list-group-item">
         Vendor Email : {{selectedVendor.email}} 
      </p>
      <br>

      <p class="list-group-item">
         Vendor Phone : {{selectedVendor.phone}} 
      </p>
      <br>

      <p class="list-group-item">
         Vendor bank : {{selectedVendor.bank}} 
      </p>
      <br>
      <span class="file">
      <p class="ist-group-item">  Upload Invoice : {{file-upload url="/upload" class="btn btn-primary"}}
       </p>
      </span>
      {{/if}}
   </div>
</div>

<input type="button" value="Submit" class ="btn btn-success" {{action 'purchaseorder'}}>